:root{
    --anuario:red;
    --feriado:darkblue;
    --clases:#A7BFA3;
    --fondoTabla:mintcream;
    --titular:darkred;
    --fondoPag:white;
    --fondoSemana:red;
    --bordes:black;
    --bordes2:darkred;
    --colorTexto1:white;
    
}
body{
    margin: 1px;
}

.tod{
    margin: 1px;
    padding: 5px;
    background:var(--fondoPag);
    text-align: center;
    
}
.space{
    background-color: var(--fondoPag);
    color: var(--fondoPag);
    border:none;
    width: 20px;
    height: 50px;
    
}
#año{
    font-size: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: var(--anuario);
}
table{
    background-color:var(--fondoTabla);
    width: 100%;
    height: 50%;
    
}
th{
    background-color: var(--titular);
    border: 1px solid #000;
    border-color:var(--bordes);
    border-radius: 5px 9px;
    
    font-size: 35px;
    color: var(--colorTexto1);
    letter-spacing: 4px;
}
td{
   
    border-bottom: 1px solid var(--bordes);
    font-size: 25px;
    

}
.week{
    background-color: var(--fondoSemana);
    border-collapse: inherit;
    border:1px solid black;
}
#free{
    color: var(--feriado);
    background-color: lavender;
    font-weight: bold;
    
}
#days1{
    color:var(--clases);
    font-style: comic san;
    background-color: #F58E77;
}
#days{
    background-color: #F58E77;
   font-weight: bold;
   color: darkred ;
}
#clases{
    background-color:var(--clases);
   color: var(--colorTexto1);
   font-weight: bold;
   
}
